@using Bilet1.Models;
@model UpdatePostVM;
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="card-body">
    <h4 class="card-title">Create Page</h4>

    <form class="forms-sample" method="post"  enctype="multipart/form-data">
        @Html.HiddenFor(x=>x.Id)
        <div class="form-group">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" placeholder="Name">
            <span class="text text-danger" asp-validation-for="Title"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control" placeholder="Name">
            <span class="text text-danger" asp-validation-for="Description"></span>
        </div>
        <div class="form-group">
            <label asp-for="Photo">Name</label>
            <input asp-for="Photo" class="form-control" placeholder="Name">
            <span class="text text-danger" asp-validation-for="Photo"></span>
        </div>

        <button type="submit" class="btn btn-primary mr-2">Update</button>
        <a href="~/Admin/Posts/Index/" class="btn btn-danger">Go back</a>
    </form>
</div>

